In [2]:
import pandas as pd
#question 1
program = pd.Series([10,20,30,40,50,60,70,80,90])
program

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [3]:
program1 = program.array
type(program1)

pandas.core.arrays.numpy_.PandasArray

In [4]:
program1

<PandasArray>
[10, 20, 30, 40, 50, 60, 70, 80, 90]
Length: 9, dtype: int64

In [5]:
#Question 2
program2 = list(program)
program2
# you can also use the .tolist() to convert a pd series to a python list

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [6]:
type(program2)

list

In [7]:
#question 3
data1 = pd.Series([2,4,6,8,10])
data2 = pd.Series([1,3,5,7,10])

In [8]:
data1 + data2

0     3
1     7
2    11
3    15
4    20
dtype: int64

In [9]:
data1 - data2

0    1
1    1
2    1
3    1
4    0
dtype: int64

In [10]:
data1 * data2

0      2
1     12
2     30
3     56
4    100
dtype: int64

In [11]:
data1/data2

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.000000
dtype: float64

In [12]:
#question 4
seriesy = pd.Series([2,4,6,8,10])
seriesz = pd.Series([1,3,5,7,10])
seriesy == seriesz

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [13]:
seriesy < seriesz

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [14]:
#question 5
dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
dict_series = pd.Series(data = dict)
dict_series

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [15]:
#question 6
import numpy as np
numlist = [10, 20, 30, 40, 50]
qarray = np.array(numlist)
qseries = pd.Series(qarray)
qseries

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [16]:
#question 7
list2 = [100, 200, 'python', 300.12, 400]
series2 = pd.Series(list2)
series2

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [17]:
series3 = pd.to_numeric(series2, errors = 'coerce')
series3

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [18]:
#question 8
a = [1,2,3,4,7,11]
b = [4,5,6,9,5,0]
c = [7,5,8,12,1,11]
dtfm1 = pd.Series(a) 
dtfm2 = pd.Series(b)
dtfm3 = pd.Series(c)
dictfm = {'col1':dtfm1, 'col2':dtfm2, 'col3':dtfm3}
dtfm = pd.DataFrame(dictfm)
dtfm

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [19]:
dtsr = pd.Series(data = dtfm['col1'])
dtsr

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [20]:
#question 9
listx = [100, 200, 'python', 300.12, 400]
seriesx = pd.Series(listx)
seriesx.values

array([100, 200, 'python', 300.12, 400], dtype=object)

In [21]:
#question 10
seriesa = pd.Series([['Red', 'Green', 'White'], ['Red', 'Black'], ['Yellow']])
seriesb = seriesa.apply(pd.Series).stack().reset_index(drop = True)
seriesb
# the .stack() is used to stack or line up multiple lists to form one list
# the rest_index() is used to give a new index to your series,
# while putting the old indexes in a new column
# the old indexes can be dropped by inputting in the parenthesis(drop = True)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object