create a dataframe of a 5 by 4 random uniform distribution, the columns will be w, x, y , z and the rows will be a, b, c, d, e

In [1]:
import numpy as np
import pandas as pd

In [14]:
array = np.random.rand(5,4)
array

array([[0.67463205, 0.42793282, 0.55254671, 0.97135042],
       [0.76349636, 0.5137817 , 0.98878225, 0.16571453],
       [0.76344146, 0.30438607, 0.38549903, 0.37707189],
       [0.08856391, 0.95601643, 0.28323075, 0.80033745],
       [0.29813535, 0.22743351, 0.55125941, 0.98525382]])

In [15]:
df = pd.DataFrame(data = array, index = ['a','b','c','d','e'], columns = ['w','x','y','z'])
df

          w         x         y         z
a  0.674632  0.427933  0.552547  0.971350
b  0.763496  0.513782  0.988782  0.165715
c  0.763441  0.304386  0.385499  0.377072
d  0.088564  0.956016  0.283231  0.800337
e  0.298135  0.227434  0.551259  0.985254

In [16]:
df2 = pd.DataFrame(np.random.rand(5,4), index = ['a','b','c','d','e'], columns = ['w','x','y','z'])
df2

          w         x         y         z
a  0.291758  0.154579  0.452172  0.300741
b  0.331974  0.458382  0.477581  0.073358
c  0.495649  0.109074  0.987902  0.197014
d  0.984223  0.234101  0.936530  0.811608
e  0.645284  0.809831  0.475570  0.337470