# Introduction to Numpy And Pandas and other Python Libraries

Numpy
Pandas
Matplotlib
Scikit

In [1]:
import numpy as np

In [2]:
# to convert a list an np array
nums_list = [10, 12, 14, 16, 18]
nums_array = np.array(nums_list)

In [3]:
nums_array

array([10, 12, 14, 16, 18])

In [5]:
print("data type for nums_list is ", type(nums_list))
print("data type for nums_array is ", type(nums_array))

data type for nums_list is  <class 'list'>
data type for nums_array is  <class 'numpy.ndarray'>

In [6]:
# to convert a list of list to an np array
matrix = [[1,2,3], [4,5,6], [7,8,9]]

In [7]:
matrix_array = np.array(matrix)

In [8]:
matrix_array

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [9]:
# to determine the shape or the size of an np arrray 
matrix_array.shape

(3, 3)

## Built-in Methods
There are lots of built-in ways to generate Arrays
 
### Using Arange Method
With the Arange method, you can create a Numpy array that contains a range of integers. The first parameter to the arange method is the lower bound, and the second parameter is the upper class bound. The lower bound is included in the array. However, the upper bound is not included

In [49]:
np.arange(0,10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [50]:
np.arange(0,11,2)

array([ 0,  2,  4,  6,  8, 10])

# zeros and ones

In [51]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [52]:
np.zeros((5,6))
# the first number specifies the number of rows while the second nuber specifies the number of columns

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [53]:
np.ones(5)

array([1., 1., 1., 1., 1.])

In [54]:
np.ones((5,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

### Eyes Method
eyes method produces a unit matrix, a unit matrix is one that its determinate is equal to zero

In [55]:
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

## Linspace
Returns evenly spaced values between a particular range of numbers and a quantity or the amount of number of be gnerated must be defined

In [56]:
np.linspace(0,10,3)

array([ 0.,  5., 10.])

In [57]:
np.linspace(0,10,30)

array([ 0.        ,  0.34482759,  0.68965517,  1.03448276,  1.37931034,
        1.72413793,  2.06896552,  2.4137931 ,  2.75862069,  3.10344828,
        3.44827586,  3.79310345,  4.13793103,  4.48275862,  4.82758621,
        5.17241379,  5.51724138,  5.86206897,  6.20689655,  6.55172414,
        6.89655172,  7.24137931,  7.5862069 ,  7.93103448,  8.27586207,
        8.62068966,  8.96551724,  9.31034483,  9.65517241, 10.        ])

### Random

#### random.rand
Creates an array given shape and populate it with random samples from a UNIFORM distrbution over [0,1].

you could input just on number to give a 2d array or two numbers seperated by a comma to return a 3d array.

In [58]:
np.random.rand(2)

array([0.21282675, 0.28312209])

In [59]:
np.random.rand(4,5)

array([[0.77337949, 0.08614154, 0.51252081, 0.51586747, 0.21631704],
       [0.64707212, 0.43987898, 0.08226415, 0.8405509 , 0.87597173],
       [0.09166329, 0.55024704, 0.57615856, 0.37246605, 0.89400733],
       [0.33084699, 0.33430493, 0.02733371, 0.18633022, 0.60877298]])

#### random.randn
used to return samples from the 'standard normal' distribution.

In [60]:
np.random.randn(2)

array([-1.31125302,  1.28628547])

In [61]:
np.random.randn(4,5)

array([[-1.03805259, -0.5804076 , -1.60823093, -0.86582421,  0.60045077],
       [-1.5236102 , -0.12023047, -1.9409045 , -0.68982756, -1.4723194 ],
       [ 2.26594712,  2.28927754,  1.65263838, -0.36098075,  0.90861513],
       [-0.45027199,  0.04755118,  0.02074288,  0.74564155,  0.64148404]])

#### random.randint
return random integers from low (inclusive)to a high (explisive)

In [62]:
np.random.randint(1,100)

34

In [63]:
np.random.randint(1,100, (2,4))

array([[76, 67, 27, 23],
       [ 7, 53,  4, 54]])

In [64]:
np.random.randint(1,100,10)

array([10, 43, 37, 66, 22, 43,  3, 68, 82, 17])

### Reshape
can be used to reshape matrixes and vectors from one dimensional to 2 dimensional and vice versa
Note: you can not reshape a value that is not equal to the original value that was already there

In [25]:
arr = np.random.randint(1,100,20)

In [26]:
arr

array([88, 24,  3, 41, 38, 89, 83, 99,  6, 76, 83, 32, 63, 69, 83, 38,  7,
       32, 96, 13])

In [27]:
arr.reshape(4,5)

array([[88, 24,  3, 41, 38],
       [89, 83, 99,  6, 76],
       [83, 32, 63, 69, 83],
       [38,  7, 32, 96, 13]])

## max, min argmax and argmin
these are useful methods. the max and min are used to for finding the maximum and minimum values of a given data.

while the argmin amd the argmax is used for locating the position of the maximum and minimum values respectively

In [28]:
ranarr = np.random.randint(1,20,10)

In [29]:
ranarr

array([13,  2,  3, 17, 10,  8, 18, 10, 14,  3])

In [30]:
ranarr.max()

18

In [31]:
ranarr.min()

2

In [32]:
ranarr.argmax()

6

In [33]:
ranarr.argmin()

1

# Numpy Indexing and Selection

In [34]:
arr2 = np.random.randint(1, 50, 10)

In [35]:
arr2

array([39,  6, 28, 28, 27, 40, 15, 41, 32, 29])

## Bracket indexing and Selection

In [36]:
arr2[2:6]

array([28, 28, 27, 40])

In [37]:
arr2[2:]

array([28, 28, 27, 40, 15, 41, 32, 29])

In [38]:
arr2[:8]

array([39,  6, 28, 28, 27, 40, 15, 41])

## Indexing a 2D Array

In [39]:
arr_2d = np.random.randint(1, 50, (3,4))

In [40]:
arr_2d

array([[31,  4,  8, 20],
       [35, 30, 36, 32],
       [ 6,  1,  5, 37]])

In [41]:
arr_2d[0][3]

20

the first square backet is used to specify the row you want to locate while the second square bracket is used to locate the element in the row you looking for, you could also use the next method but it is adviced you use the first method

In [42]:
arr_2d[0,3]

20

In [43]:
arr_2d[:2]

array([[31,  4,  8, 20],
       [35, 30, 36, 32]])

In [44]:
arr_2d[:2,2:]

array([[ 8, 20],
       [36, 32]])

In [45]:
ass = np.random.randint(1, 50, (7,4))

In [46]:
ass

array([[28, 47, 47, 24],
       [44, 41, 22, 40],
       [41, 19,  8, 46],
       [10, 24, 34,  1],
       [38, 46, 13, 18],
       [ 8, 40, 40, 49],
       [46, 11, 27,  6]])

In [47]:
ass[2:5]

array([[41, 19,  8, 46],
       [10, 24, 34,  1],
       [38, 46, 13, 18]])

In [48]:
ass[2:5,1:3]

array([[19,  8],
       [24, 34],
       [46, 13]])

In [49]:
import numpy as np

In [50]:
arr = np.arange(1,11)

In [51]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [52]:
arr + arr

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [53]:
arr + 5

array([ 6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [54]:
arr * 3

array([ 3,  6,  9, 12, 15, 18, 21, 24, 27, 30])

In [55]:
arr * arr

array([  1,   4,   9,  16,  25,  36,  49,  64,  81, 100])

In [56]:
arr ** 3

array([   1,    8,   27,   64,  125,  216,  343,  512,  729, 1000],
      dtype=int32)

UNIVERSAL ARRAY FUNCTIONS

In [57]:
#sqrt()
np.sqrt(arr)

array([1.        , 1.41421356, 1.73205081, 2.        , 2.23606798,
       2.44948974, 2.64575131, 2.82842712, 3.        , 3.16227766])

In [58]:
#log()
np.log(arr)

array([0.        , 0.69314718, 1.09861229, 1.38629436, 1.60943791,
       1.79175947, 1.94591015, 2.07944154, 2.19722458, 2.30258509])

In [59]:
#calculating exponential (e^)
np.exp(arr)

array([2.71828183e+00, 7.38905610e+00, 2.00855369e+01, 5.45981500e+01,
       1.48413159e+02, 4.03428793e+02, 1.09663316e+03, 2.98095799e+03,
       8.10308393e+03, 2.20264658e+04])

In [60]:
#sine, cos tan
np.sin(arr)

array([ 0.84147098,  0.90929743,  0.14112001, -0.7568025 , -0.95892427,
       -0.2794155 ,  0.6569866 ,  0.98935825,  0.41211849, -0.54402111])

In [61]:
np.cos(arr)

array([ 0.54030231, -0.41614684, -0.9899925 , -0.65364362,  0.28366219,
        0.96017029,  0.75390225, -0.14550003, -0.91113026, -0.83907153])

In [62]:
np.tan(arr)

array([ 1.55740772, -2.18503986, -0.14254654,  1.15782128, -3.38051501,
       -0.29100619,  0.87144798, -6.79971146, -0.45231566,  0.64836083])

# NUMPY FOR LINEAR ALGEBRA OPERATION

In [63]:
#dot()
A = np.random.randint(1,10,(3,3))
B = np.random.randint(1,20,(3,3))
print (A, B)

[[9 5 9]
 [6 7 5]
 [1 1 4]] [[11 19 18]
 [18 18  3]
 [ 7  3 15]]

In [64]:
np.dot(A,B)

array([[252, 288, 312],
       [227, 255, 204],
       [ 57,  49,  81]])

In [65]:
#INVERSE
np.linalg.inv(A)

array([[ 0.22330097, -0.10679612, -0.36893204],
       [-0.18446602,  0.26213592,  0.08737864],
       [-0.00970874, -0.03883495,  0.32038835]])

In [66]:
#DETERMINATE
np.linalg.det(B)

-3156.0000000000023

In [67]:
#TRACE : Sum of all the elements in the maor diagonal of a matrix
np.trace(A)

20

# PANDAS LIBRARY 
Pandas stands for 'panel data'

In [68]:
import pandas as pd

the first main data type we will learn about for pandas is the aeries data type. lets impot pandas and explore the series object. 
A series is very similar to a numpy array( in fact it is built on top of a numpy array object). what differentiates the numpy array from a series, is that a series can have axel labels, meaning it can be indexed by a label, instead of just the number location. it also doesnt need to hold numeric data, it can hold any abritary python object.

In [70]:
labels = ['a', 'b', 'c']
my_list = [10,20,30]
arr = np.array(my_list)
d = {'a':10, 'b':20, 'c':30}

In [79]:
arr

array([10, 20, 30])

In [82]:
lets = np.array(labels)
lets

array(['a', 'b', 'c'], dtype='<U1')

In [71]:
series = pd.Series(my_list)

In [81]:
series5 = pd.Series(data=arr, index=lets)
series5

a    10
b    20
c    30
dtype: int32

In [72]:
series

0    10
1    20
2    30
dtype: int64

In [73]:
type(series)

pandas.core.series.Series

In [74]:
series2 = pd.Series(data=my_list, index=labels)

In [75]:
series2

a    10
b    20
c    30
dtype: int64

series3 = pd.Series(data=arr, index=labels)

In [78]:
series3

a    10
b    20
c    30
dtype: int32

In [76]:
series = pd.Series(d)
series

a    10
b    20
c    30
dtype: int64

In [83]:
series3['a']

10

creating a pandas series with the use of dictionaries

In [8]:
countries = {'Nigeria':'FCT', 'Ghana':'Accra', 'Kenya':'Nairobi', 'Brazil':'Brasillia'}

In [9]:
country_series = pd.Series(countries)
country_series

Nigeria          FCT
Ghana          Accra
Kenya        Nairobi
Brazil     Brasillia
dtype: object

In [1]:
import pandas as pd

In [36]:
start_date_deposits = pd.Series({'2014-10-10':2500, 
                                 '2014-12-05': 3000,
                                 '2015-01-16':4500, 
                                 '2015-05-25': 9000,
                                 '2015-08-16':8500, 
                                 '2015-11-15': 9000})

In [37]:
start_date_deposits

2014-10-10    2500
2014-12-05    3000
2015-01-16    4500
2015-05-25    9000
2015-08-16    8500
2015-11-15    9000
dtype: int64

In [38]:
countries = {'Nigeria':'FCT', 'Ghana':'Accra', 'Kenya':'Nairobi', 'Brazil':'Brasillia'}

In [39]:
country_series = pd.Series(countries)
country_series

Nigeria          FCT
Ghana          Accra
Kenya        Nairobi
Brazil     Brasillia
dtype: object

## PANDAS FUNCTIONS

In [40]:
country_series.dtype

dtype('O')

when searching datA TYPE AND dtype('o') appears it means it is an object

In [41]:
country_series.size

4

In [42]:
print(country_series.name)

None

In [43]:
country_series.name = "Name of countries and their capitals"

In [44]:
country_series.name

'Name of countries and their capitals'

## PANDAS METHODS

### .HEAD(), .TAIL()
.head()
Shows the first 5 samples in the series 
but you can specify how many would be shown by inputting the number in the parenthesis
while .Tail() shows the last 5 sample sin the series

In [45]:
start_date_deposits.head()

2014-10-10    2500
2014-12-05    3000
2015-01-16    4500
2015-05-25    9000
2015-08-16    8500
dtype: int64

In [46]:
start_date_deposits.head(2)

2014-10-10    2500
2014-12-05    3000
dtype: int64

In [47]:
start_date_deposits.head(3)

2014-10-10    2500
2014-12-05    3000
2015-01-16    4500
dtype: int64

In [48]:
start_date_deposits.tail()

2014-12-05    3000
2015-01-16    4500
2015-05-25    9000
2015-08-16    8500
2015-11-15    9000
dtype: int64

In [49]:
start_date_deposits.tail(2)

2015-08-16    8500
2015-11-15    9000
dtype: int64

### .sum(), .mean(), .mode(), .median()
.sum()
sums all the data in the series, note: ensure it is numerical data

In [50]:
start_date_deposits.sum()

36500

In [51]:
start_date_deposits.mean()

6083.333333333333

In [52]:
start_date_deposits.mode()

0    9000
dtype: int64

In [53]:
start_date_deposits.median()

6500.0

## INTRODUCTION TO PYTHON DATAFRAMES

### CREATING DATA FRAMES FROM SCRATCH
#1: Construct a data frame from a dictionary of lists

In [56]:
import pandas as pd

In [57]:
data = {'productname':['Product A', 'Product B', 'Product C'], 'Productprice': [22340, 16600, 13670]}

In [59]:
df = pd.DataFrame(data)

In [60]:
df

  productname  Productprice
0   Product A         22340
1   Product B         16600
2   Product C         13670

#2: Construct a DataFrame from a dictionary of lists + specify an index

In [67]:
data2 = {'Product Name':['Apples', 'Balls', 'Cups', 'Desks', 'Eggs'], 'Product Price': [22340, 16600, 13670, 12000, 15700]}

In [68]:
df2 = pd.DataFrame(data2, index = ['A','B','C','D','E'])

In [69]:
df2

  Product Name  Product Price
A       Apples          22340
B        Balls          16600
C         Cups          13670
D        Desks          12000
E         Eggs          15700

#3. Construct a DataFrame from a list of dictionaries

In [70]:
data3 = [{'Product Name': 'Apples', 'Product Price': 22250},
        {'Product Name': 'Balls', 'Product Price': 12250},
         {'Product Name': 'Cups', 'Product Price': 32250},
         {'Product Name': 'Desks', 'Product Price': 40250},
         {'Product Name': 'Eggs', 'Product Price': 10050},]
df3 = pd.DataFrame(data3)
df3

  Product Name  Product Price
0       Apples          22250
1        Balls          12250
2         Cups          32250
3        Desks          40250
4         Eggs          10050

#4: Construct a DataFrame from a dictionary of pandas series

In [71]:
prods = pd.Series(['Apples','Balls','Cups','Desks'], index = ['a','b','c','d'])
prics = pd.Series([22250, 20000, 15000, 35000], index = ['a','b','c','d'])

In [72]:
data4 = {'Product Name': prods, 'Product Price': prics}
df4 = pd.DataFrame(data4)
df4

  Product Name  Product Price
a       Apples          22250
b        Balls          20000
c         Cups          15000
d        Desks          35000

In [78]:
prods1 = pd.Series(['Apples','Balls','Cups','Desks','Eggs'], index = ['a','b','c','d','e'])
prics1 = pd.Series([22250, 20000, 15000, 35000, 40000], index = ['a','b','c','d','e'])

In [79]:
dat4 = {'Product Name': prods1, 'Product Price': prics1}
df14 = pd.DataFrame(dat4)
df14

  Product Name  Product Price
a       Apples          22250
b        Balls          20000
c         Cups          15000
d        Desks          35000
e         Eggs          40000

#5. Construct a DataFrame from a list of lists

In [80]:
data5 = [['apple', 20000],['ball',300000],['cup',25000]]
df5 = pd.DataFrame(data5)
df5

       0       1
0  apple   20000
1   ball  300000
2    cup   25000

In [82]:
df5.index = [1,2,3]
df5.columns = ['names', 'prices']

In [83]:
df5

   names  prices
1  apple   20000
2   ball  300000
3    cup   25000

#6. Constructing Dataframe in a professional way

In [2]:
import pandas as pd
df6 = pd.DataFrame(data = [['apple', 20000],
                           ['ball',300000],
                           ['cup',25000],
                          ['dog', 3333333]],
                   columns = ['Product Name', 'Product Price'],
                   index = ['a','b','c'])
df6

ValueError: Length of values (4) does not match length of index (3)

In [86]:
df.shape

(3, 2)

In [88]:
df2.shape

(5, 2)

In [89]:
df3.shape

(5, 2)

In [90]:
df4.shape

(4, 2)

In [91]:
df5.shape

(3, 2)

In [92]:
df6.shape

(3, 2)